@keyframes scale-out {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg {
    background-color: white;
}

.title {
    margin-top: 50px;
    color: #000000;
}

.msg {
    margin: -10px 0 30px;
    color: black;
}

.postit {
    padding: 10px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 8px;
    position: relative;

    font-weight: bold;
    font-size: 16px;
    text-align: center;
    word-break: keep-all;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
    width: 800px;
}

.post1 {
    background-image: url("./post1.png");
    color: #000000;
}

.post2 {
    background-image: url("./post2.png");
    color: #000000;
}

.post3 {
    background-image: url("./post3.png");
    color: #000000;
}

.post4 {
    background-image: url("./post4.png");
    color: #000000;
}

.done::after {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url("./check.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 27%;
    top: 28%;

    animation: scale-out 0.1s ease-in-out 1;
}

.btn1 {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}

.input-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#todoInput {
    width: 90px;
}

#addButton {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

#deleteButton {
    border: none;
    background-color: transparent;
    font-weight: bold;
}